rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /{document=**} {
      allow read, write: if false;
    }

    match /Spacemoon/appinfo {
      allow read: if true;
      allow write: if false;
    }

    match /users/{userId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid != null && request.auth.uid == userId;
    }

    match /fcmTokens/{userId} {
      allow read, write: if request.auth.uid != null && request.auth.uid == userId;
    }

    match /roomusers/{roomuserId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid != null && request.auth.uid == resource.data.user ;
    }

    match /rooms/{roomId} {
      allow read: if true;
      allow write: if roomUserIsAdmin(roomId);
    }

  // function roomUserExist(roomId) {
    //   let roomuserId = request.auth.uid + '_' + roomId;
    //   return request.auth.uid != null && exists(/databases/$(database)/documents/roomusers/$(roomuserId));
    // }
    function roomUserIsAdmin(roomId) {
      let roomuserId = request.auth.uid + '_' + roomId;
      let role = get(/databases/$(database)/documents/roomusers/$(roomuserId)).data.role;

      return role == 'ADMIN';
    }
    function roomUserIsAdminOrMod(roomId) {
      let roomuserId = request.auth.uid + '_' + roomId;
      let role = get(/databases/$(database)/documents/roomusers/$(roomuserId)).data.role;

      return role == 'ADMIN' || role == 'MODERATOR';
    }
    function roomUserIsAuthenticated(roomId) {
      let roomuserId = request.auth.uid + '_' + roomId;
      let role = get(/databases/$(database)/documents/roomusers/$(roomuserId)).data.role;

      return role == 'ADMIN' || role == 'MODERATOR' || role == 'USER' || role == 'INVITE';
    }
  // function roomUserUMA(roomId) {
    //   let roomuserId = request.auth.uid + '_' + roomId;
    //   let role = get(/databases/$(database)/documents/roomusers/$(roomuserId)).data.role;

    //   return role == 'ADMIN' || role == 'MODERATOR' || role == 'USER';
    // }

    match /rooms/{roomId}/tweets {
      allow read, write: if false;
    }

    match /rooms/{roomId}/tweets/{tweetId} {
      allow read: if roomUserIsAuthenticated(roomId);
      allow write: if resource.data.user == request.auth.uid;
      allow delete: if resource.data.user == request.auth.uid || roomUserIsAdminOrMod(roomId);
    }

    match /userusers/{uid}{
      allow read, write: if (uid.split('_')[0] == request.auth.uid || uid.split('_')[1] == request.auth.uid);
    }
  }
}